h1, h3, .nav {
  font-family: 'Luckiest Guy', cursive;
}
h1 {
  font-size: 70px;
  color:white;
  margin-bottom:15px;
}
h3 {
  margin: 15px auto;
  font-size: 30px;
}
input {
  margin-bottom: 15px;
}
.router-link {
  padding: 10px;
  color: inherit;
  text-decoration: inherit;
}
.router-link:hover {
  color: green;
}
.router-link-exact-active {
  color:green;
}
.done,
.todo {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  border: 0.2px solid black;
  margin: 7px auto;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  .btnIcon {
  float: right;
  background: none;
  border: none;
  font-size: 25px;
  padding:10px;
  margin:-10px 0px;
  width:60px;
  transition: 0.2s;
  border:2Px solid red;
    &:hover {
      color:green;
    }
  }
}
